a:link {
    color: whitesmoke;
    text-decoration: none;
    background-color: transparent;
  }
 
  a:hover {
    color: beige;
    background-color: transparent;
    text-decoration: underline;
  }  